
/* reset */

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #f5f8ff;
}

/* common style */

.primary-color{
    color: #4E47FF;
}

.button{
    background-color: #4E47FF;
    color: #fff;
    height: 48px;
    padding: 15px;
    border: none;
    border-radius: 5px;

}




/* style for header */
.header{
    background-image: url(./img/Hero-bg.png);
}

/* style for navbar */
.nav-bar{
    height: 150px;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* style for banner */
.banner{
    margin: auto;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 158px;
}
.banner-content{
  padding-bottom: 200px;
}

/* styling action section */
.action-section{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Productive user section style*/
.productive-user-section{
    /* height: ; */
    max-width: 1440px;
    margin: auto;
    background-color: #e5e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
.productive-user-info{
    padding-top: 50px;
    padding-bottom: 50px;
    

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}