
/* reset */

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #f5f8ff;
}

/* common style */

.primary-color{
    color: #4E47FF;
}

.button{
    background-color: #4E47FF;
    color: #fff;
    height: 48px;
    padding: 15px;
    border: none;
    border-radius: 5px;

}




/* style for header */
.header{
    background-image: url(./img/Hero-bg.png);
}

/* style for navbar */
.nav-bar{
    height: 150px;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* style for banner */
.banner{
    margin: auto;
    max-width: 1440px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 158px;
}
.banner-content{
    max-width: 800px;
   text-align: center;
}
.banner-content h2{
   
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.6;

}
.logo{
    font-size: 2rem;
}
.logo span{
    color: orange;
}
/* styling action section */
.action-section{
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-content{
    text-align: center;
    min-width: 300px;

}
.action-content h2{
    font-size: 2.5rem;
    line-height: 1.6;
    margin-bottom: 20px;

}
.action-content p{
    font-size: 1rem;
    color:#737380;
    line-height: 1.6;
    margin-bottom: 20px;
}
.action-img{
    min-width: 300px;
    text-align: center;
}

.action-img img{
    width: 100%;
    height: auto;
    border-radius: 48px;
}

/* Productive user section style*/
.productive-user-section{
    max-width: 1440px;
    margin: auto;
    background-color: #e5e7ff;
    text-align: center;
    border-radius: 24px;

}

.productive-user-info{
    padding-top: 50px;
    margin-top: 50px;
}
.productive-user-info h3{
    font-size: 2.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    

}
.productive-user-info ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0;
    flex-wrap: wrap;
}

.productive-user-info strong{
    font-size: 3rem;
    color: #4E47FF;
    line-height: 1.6;

}
 
.productive-user-info p{
    font-size: 1rem;
    margin-bottom: 50px;
   color: #737380;

}
/* User review section styling */
.user-review-section{
    max-width: 1440px;
    margin: auto;
    text-align: center;
    margin-top: 50px;

}
.user-review-section h2{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 50px;
}
.user-review-box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    gap: 15px;
  
}
.box{
    background-color: #fafcff;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.508);
    border-radius: 15px;
    padding: 8px;
}
.star-icon{
    list-style: none;
    display: flex;
    text-align: left;
    padding: 0;
    gap: 5px;
    margin-bottom: 5px;

}
.box h3{
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 8px;
}
.box p{
    color: #737380;
    line-height: 1.4;
    margin-bottom: 8px;
}
.user-details{
    display: flex;
   
    align-items: center;
    text-align: left;
}

.user-details img{
    border: none;
    border-radius: 50%;
}
.user-name-date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.user-name-date h6{
    font-size: 1.125rem;
    color: #333;
}
.user-name-date p{
    font-size: 0.8rem;
    color: #b3b3b3;
}